.bg-dark {
    background-color: #292F36!important;
}

p{
    color: white;
    margin: none;
    padding-right: 50px;
margin:10px!important;
}

span
{
    padding: 0px!important;
    margin: none!important;
    border:none;
    height: 40px!important;
    vertical-align: middle!important;
    line-height: 40px!important;
    width: 150px;
}